.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}
.preloader .loader {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 47.5%;
    top: 45%;
    background-image: url('http://127.0.0.1:8000/images/Preloader.gif');
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 10px !important;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
	border: 1px solid #ddd;
}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
	border-bottom-width: 0;
}
.table-bordered {
    border: 1px solid #ddd;
}

.bg-gray {
	background: #f1f1f1 !important;
}

.dataTables_filter {
	display: none; 
}

.box-body {
	overflow-y: auto;
	padding: 15px;
}

.form-group {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #00a65a;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
    border: 1px solid #d2d6de !important;
}

.select2-container .select2-selection--single {
    height: 34px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0 !important;
    padding-right: 10px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 3.25px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc;
    border: 1px solid #3c8dbc;
    padding: 2.5px 7.5px;
}

.p-0 {
    padding: 0 !important;
}

.p-t-0 {
    padding-top: 0 !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-l-0 {
    margin-left: 0 !important;
}

.m-r-0 {
    margin-right: 0 !important;
}

tfoot select {
    width: 100% !important;
    border: 1px solid #ddd;
    padding: 5px;
}